.carousel {
    position: relative;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    height: calc(100vh - 100px);
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 260px);
    text-align: center;
    border-radius: 15px;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner > .carousel-item > .first-slide {
    width: 100%;
    height: calc(100vh - 260px);
    background: url("../images/carouselLARGE3.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner > .carousel-item > .second-slide {
    width: 100%;
    height: calc(100vh - 260px);
    background: url("../images/carouselLARGE4alt.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner > .carousel-item > .third-slide {
    width: 100%;
    height: calc(100vh - 260px);
    background: url("../images/carouselLARGE2.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: block;
}

.carousel-item-next, .carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-item-next, .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next, .active.carousel-item-right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.carousel-item-prev, .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-prev, .active.carousel-item-left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #000;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red no-repeat center center;
    background-size: 100% 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


  /***********************************/
 /* Become a Ray of Sunshine Today! */
/***********************************/

.sunshine-carousel{
    margin: 0;
    text-align: center;
    position: relative;
    width: 70%;
}

.sunshine-carousel:hover{
    text-decoration: none;
}

.sunshine-carousel h1 {
    border-radius: 15px;
    font-size: 2em;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(33, 37, 41);
    background-color: #ffe607;
    letter-spacing: 1px;
    word-spacing: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
    margin-top: 20px;
    text-decoration: none;
    height: 80px;
}

.sunshine-carousel h1:hover{
    background-color: #ffd507;
}


  /*********************/
 /* Responsive Styles */
/*********************/

@media only screen and (max-width: 1200px) {
    .section-carousel h1 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-inner > .carousel-item > .first-slide {
        /*background: url("../images/carouselSMALL3.jpg") no-repeat top center scroll; */
        height: 100vh;
    }

    .carousel-inner > .carousel-item > .second-slide {
        /*background: url("../images/carouselSMALL4alt.jpg") no-repeat top center scroll; */
        height: 100vh;
    }

    .carousel-inner > .carousel-item > .third-slide {
        /* background: url("../images/carouselSMALL2.jpg") no-repeat top center scroll; */
        height: 100vh;
    }

    .section-carousel h1 {
        font-size: 1.5em;
        padding-left: 105px;
        padding-right: 105px;
    }
}

@media only screen and (max-width: 500px) {
    .section-carousel h1 {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media only screen and (max-width: 420px) {
    .section-carousel h1 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 400px) {
    .section-carousel h1 {
        padding-left: 40px;
        padding-right: 40px;
    }
}
