.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 80vh;
    text-align: center;
}

.carousel-item {
    position: relative;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.carousel-inner > .carousel-item > .first-slide {
    width: 100%;
    height: 80vh;

    background: url("../images/carouselLARGE3.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner > .carousel-item > .second-slide {
    width: 100%;
    height: 80vh;
    background: url("../images/carouselLARGE4alt.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner > .carousel-item > .third-slide {
    width: 100%;
    height: 80vh;
    background: url("../images/carouselLARGE2.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}









.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: block;
}

.carousel-item-next, .carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next.carousel-item-left, .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-item-next, .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-next, .active.carousel-item-right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.carousel-item-prev, .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-item-prev, .active.carousel-item-left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active, .carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left, .carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #000;
    text-align: center;
    opacity: 0.5;
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #000;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: red no-repeat center center;
    background-size: 100% 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, 0.5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}











.carousel-gradient {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    height: 80vh;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 2;
}

.carousel-header {
    position: absolute;
    bottom: 0vh;
    left: 5%;
    padding-bottom: 60px;
    width: 95%;
    z-index: 3;
}

.carousel-header h1 {
    font-size: 3em;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto 10px;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.line-break{
    display: none;
}

  /*********************/
 /* Responsive Styles */
/*********************/

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
    .carousel-header {
        left: 0%;
        width: 100%;
        text-align: center;
    }

    .carousel-header h1{
        font-size: 2.4em;
        text-align: center;
        padding: 0 100px;
    }

    .carousel-header .btn:link:first-of-type{
        margin: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .carousel{
        padding-bottom: 30vh;
    }

    .carousel-inner {
        height: 50vh;
    }

    .carousel-inner > .carousel-item > .first-slide {
        background: url("../images/carouselSMALL3.jpg") no-repeat top center scroll;
    }

    .carousel-inner > .carousel-item > .second-slide {
        background: url("../images/carouselSMALL4alt.jpg") no-repeat top center scroll;
    }

    .carousel-inner > .carousel-item > .third-slide {
        background: url("../images/carouselSMALL2.jpg") no-repeat top center scroll;
    }

    .carousel-gradient {
        bottom: 30vh;
        height: 50vh;
    }

    .carousel-header {
        background-color: #f4f4f4;
        bottom: 0vh;
        height: 30vh;
        padding: 0 25px 30px;
    }

    .carousel-header h1 {
        color: rgb(33, 37, 41);
        font-size: 1.8em;
        margin-top: 30px;
        padding: 0;
    }

    .carousel-header .btn:link:first-of-type{
        margin-bottom: 10px;
    }

    .line-break{
        display: block;
    }
}
