<<<<<<< HEAD
.emailForm{
    float: inherit;
    text-align: center;
    margin-left: 650px;
}

.secretlabel{
    display: none;
}

.regularlabel{
    display: inherit;
}

h3{
=======
.wrapper {
    width: 960px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

h3 {
    text-align: center;
}

.name, .email, .message {
    display: block;
    width: 600px;
    margin: 0 auto 15px auto;
}

.submit {
    display: block;
>>>>>>> 810fcb60494496f90f81293e9124f69107ad8d00
    text-align: center;
}

#map {
    width: 100%;
<<<<<<< HEAD
    height: 300px;
}


@media (max-width: 1550px) {
    .emailform{
        margin-left : 600px;
    }
}

@media (max-width: 1450px) {
    .emailform{
        margin-left : 500px;
    }
}

@media (max-width: 1350px) {
    .emailform{
        margin-left : 480px;
    }
}

@media (max-width: 1250px) {
    .emailform{
        margin-left : 440px;
    }
}

@media (max-width: 1200px) {
    .emailform{
        margin-left: 370px;
    }
}

@media (max-width: 1050px) {
    .emailform{
        margin-left: 300px;
    }
}

@media (max-width: 900px) {
    .emailform{
        margin-left: 250px;
    }
}

@media (max-width: 800px) {
    .emailform{
        margin-left: 150px;
    }
}

@media (max-width: 600px) {
    .emailform{
        margin-left: 50px;
    }
}

@media (max-width: 500px) {
    .emailform{
        margin-left: 100px;
    }

    .secretlabel{
        display: inherit;
    }

    .regularlabel{
        display: none;
    }
}

@media (max-width: 375px) {
    .emailform{
        margin-left: 30px;
    }

=======
    height: 400px;
}

@media (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .name, .email, .message {
        width: 85%;
        padding: 0 20px;
    }
>>>>>>> 810fcb60494496f90f81293e9124f69107ad8d00
}