body{
    text-align: center;
}

input {
    margin: 20px;
    padding: 20px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    color: #ffe607;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    width: 500px;
}

textarea{
    width: 500px;
    height: 150px;
    overflow: auto;
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}