/*.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 5px;
}
.gallery-col {
    -ms-flex: 300px;
    flex: 300px;
    max-width: 300px;
    padding: 0 5px;
}
.gallery-col img {
    width: 100%;
    height: auto;
    transition: 0.5s;
    padding: 5px;
}

.gallery-col img:hover {
    transition: 0.5s;
    opacity: 0.8;
    transform: scale(1.1);
}*/

.container {
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}
.container div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}
.container div img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 400px) {
    .container div { margin: 0;padding: 5px; }
    .container { padding: 0; }

}