.wrapper {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

#email, #password, #first_name, #last_name {
    display: block;
    padding: 10px 30px;
    font-weight: 200;
    font-size: 16px;
    color: navy;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    width: 400px;
    border-radius: 200px;
    margin: 0 auto 5px auto;
    height: 40px;
    border: 1px solid rgba(0,0,0,.5);
}

.amount {
    display: block;
    padding: 10px 30px;
    font-weight: 200;
    font-size: 16px;
    color: navy;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    width: 400px;
    border-radius: 200px;
    margin: 0 auto 5px auto;
    height: 40px;
    border: 1px solid rgba(0,0,0,.5);
}

.btn-login {
    background-color: #ffe607;
    font-size: 1em;
    color: navy;
    display: inline-block;
    font-weight: 300;
    border-radius: 200px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffe607;
    width: 155px;
}

.btn-paypal {
    background-color: #ffe607;
    font-size: 1em;
    color: navy;
    display: inline-block;
    font-weight: 300;
    border-radius: 200px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 40px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ffe607;
    width: 200px;
}

.btn-paypal-center {
    width: 400px;
    margin: 0 auto;
}

.btn-login:hover {
    background-color: red;
    color: navy;
}

.btn-login:hover {
    background-color: #ffe607;
}

.google {
    display: none;
    padding: 10px 30px;
    font-weight: 300;
    color: ghostwhite;
    background-color: orangered;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    cursor: pointer;
    width: 400px;
    border: 1px solid orangered;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
}

.facebook {
    display: inline;
    padding: 10px 30px;
    font-weight: 300;
    color: ghostwhite;
    background-color: blue;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    text-decoration: none;
    cursor: pointer;
    width: 400px;
    border: 1px solid blue;
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
}

.google:hover {
    color: lightgray;
    border: 1px solid orangered;
}

.facebook:hover {
    color: lightgray;
    border: 1px solid blue;
}

.form-login {
    margin: 0 auto;
}

h2 {
    padding: 50px 0 20px 0;
}

input:focus {
    outline: none;
}

.fgt-pw {
    clear: both;
    text-align: left;
    margin-top: 35px;
    width: 200px;
    margin-left: 20px;
}

.no-account {
    border-top: 1px solid lightgray;
    width: 450px;
    margin: 15px auto;
    padding-top: 15px;
}

.wrapper-inner {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}