  /*********************/
 /* Navigation Styles */
/*********************/

header{
  background-color: #f4f4f4;
  padding-bottom: 0;
}

nav {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 0.95em;
	height: 100px;
	z-index: 999;
	width: 70%;
	margin: 0 auto;
}

.navbar{
  padding: 0;
}

nav .navbar-brand{
	margin-right: 0px;
  	padding: 0;
}

nav .navbar-brand img{
	width: 175px;
}

nav .nav-item {
	background-color: #fff;
}

nav button{
	margin-right: 30px;
}


  /***************/
 /* Body Styles */
/***************/

h2 {
	font-size: 2.2em;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 1px;
	word-spacing: 2px;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #ffe607;
	content: " ";
	width: 100px;
	margin: 28px auto 0;
}

h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h4{
	margin: 0;
}

section {
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	width: 100%;
	padding: 40px 0 20px;
	font-weight: 300;
}

.section-gray {
	background-color: #f4f4f4;
}

.section-gray-title-only {
	background-color: #f4f4f4;
}

.section-gray-title-only h2{
	margin-bottom: 0;
}

section p{
	font-size: 1.2em;
	width: 70%;
	line-height: 145%;
	margin: 0 auto 20px;
}


  /*****************/
 /* Button Styles */
/*****************/

.btn:link, .btn:visited {
	background-color: #ffe607;
	font-size: 1em;
	color: navy;
	display: block;
	border-radius: 200px;
	font-weight: 300;
	padding: 10px 0;
	margin: 20px auto 40px;
	text-decoration: none;
	text-align: center;
	width: 15%;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
	background-color: #ffd507;
	color: navy;
	border-bottom: none;
}


  /*****************/
 /* Footer Styles */
/*****************/

.footer {
	text-align: center;
	font-size: 0.8em;
	padding-bottom: 40px;
}

.footer p {
	margin: 0 auto;
}

.footer span {
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 10px;
}



/*
.googleCalendar {
  position: relative;
  padding-bottom: 75% !important;
  height: 0;
  overflow: hidden;
}

.googleCalendar iframe {
  position: absolute;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 80%;
}

@media only screen and (max-width: 992px) {
  .googleCalendar iframe {
	  width: 90%;
	  height: 100%;
  }
}
*/
