  /**************/
 /* 1200px MAX */
/**************/

@media only screen and (max-width: 1200px) {
    section {
        padding: 60px 0px;
    }

    .carousel {
        width: 80%;
        padding-top: 0;
    }
}

  @media only screen and (max-width: 1024px) {
        .legacy-wrap {
            float: none;
            width: 100%;
        }

        .legacy-wrap-inner p {
            float: none;
            width: 80%;
            margin: 0 auto;
            text-align: left;
        }

        .legacy-wrap-inner-bottom p {
            float: none;
            width: 80%;
            margin: 0 auto;
            text-align: left;
            margin-bottom: 30px;
        }

        .legacy-wrap-inner, .legacy-wrap-inner-bottom {
            text-align: center;
        }

       .legacy-wrap-inner img {
           width: 80%;
           height: auto;
           padding-bottom: 30px;
       }

       .legacy-wrap-inner-bottom img {
           float: none;
           width: 80%;
           height: auto;
           padding-bottom: 30px;
       }
  }


  /*************/
 /* 991px MAX */
/*************/


@media only screen and (max-width: 991px) {
    .navbar{
        width: 100%;
        padding: 0;
        text-align: center;
    }

    nav .navbar-brand{
        margin: 0;
        padding: 0;
       float: left;
    }

    nav .navbar-toggler {
        border: none;

        text-align: right;
    }

    nav .navbar-toggler:focus {
        outline: 0;
    }

    nav button img{
        width: 175px;
    }

    .dropdown-menu {
        border: none;
    }

    .dropdown-item {
        text-align: center;
        outline: 0;
        font-size: 14px;
    }

    nav #navbarSupportedContent{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        border-top: 3px solid #f4f4f4;
        border-bottom: 3px solid #f4f4f4;
        background-color: #fff;
        padding: 20px 0 20px;
    }

    nav .nav-item a{
        padding: 15px;
    }

    nav .navbar-auth{
        padding: 0;
    }

    section {
        padding: 60px 75px;
        text-align: center;
    }

    section p{
        text-align: left;
    }

    .footer p {
        text-align: center;
    }

    .footer span {
        display: block;
    }

    .carousel {
        width: 100%;
        padding-top: 0;
    }

    .carousel-inner {
        border-radius: 0px;
    }
}


  /*************/
 /* 600px MAX */
/*************/

@media only screen and (max-width: 600px) {
    h2{
       font-size: 2em;
    }

    h3{
        font-size: 1.6em;
    }

    section {
        padding: 60px 20px;
    }

    section p{
        font-size: 1em;
        width: 90%;
    }

    .carousel-inner {
        height: calc(100vh - 370px);
    }

    .carousel-inner > .carousel-item > .first-slide,
    .carousel-inner > .carousel-item > .second-slide,
    .carousel-inner > .carousel-item > .third-slide {
        height: calc(100vh - 370px);
    }

    .first-heading{
        height: 200px;
    }
}
